* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "DM Serif Display", serif; }
  html p {
    font-family: "Source Sans Pro", sans-serif; }

body {
  box-sizing: border-box;
  font-size: 1.8rem; }

main {
  padding: 8rem 7.2rem; }

.head-post__left {
  margin-right: 3.8rem;
  flex: 1.5 0 0; }
  .head-post__left_img {
    width: 100%;
    height: 35rem; }

.head-post__right {
  flex: 0.8 0 0; }
  .head-post__right_img {
    width: 100%;
    height: 35rem; }

.head-post__text_category {
  font-weight: 400;
  font-size: 1.5rem;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-top: 4.8rem; }

.head-post__text_heading {
  margin-top: 2.4rem;
  font-size: 3rem;
  color: #101828;
  text-transform: capitalize; }

.head-post__text_content {
  font-size: 1.8rem;
  color: #667085;
  margin-top: 1.2rem;
  line-height: 2.8rem; }

.new-post:not(:last-child) {
  margin-bottom: 9.6rem; }

.post:not(:last-child) {
  margin-right: 3rem; }

.post__img {
  width: 100%; }

.post__text_category {
  font-size: 1.5rem;
  color: #8d9bb8; }

.post__text_heading {
  font-size: 3rem;
  color: #101828; }

.post__text_content {
  font-size: 1.8rem;
  color: #667085; }

.header {
  height: 8rem;
  padding: 0 7.2rem; }

.row {
  display: flex;
  width: 100%; }

.section-post {
  margin-top: 9.6rem; }
  .section-post__head {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
    .section-post__head_main {
      color: #2a2a2a;
      font-size: 4.8rem; }
    .section-post__head_sub {
      color: #667085;
      font-size: 2rem; }
